
@{
    ViewBag.Title = "Index";
}

<h2>Hello @User.Identity.Name</h2>


@Html.ActionLink("Home", "Index", "Home", new { Area = "" }, new { })

@Html.ActionLink("Log Out", "Logout", "Default", new { Area = "Secure" }, new { })